[submodule "karizmaconseil/kzm_hr"]
	path = karizmaconseil/kzm_hr
	url = git@github.com:karizmaconseil/kzm_hr.git
	branch = 13.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 13.0

[submodule "OCA/account-financial-tools"]
	path = OCA/account-financial-tools
	url = git@github.com:OCA/account-financial-tools.git
	branch = 13.0

[submodule "karizmaconseil/kzm_accounting"]
	path = karizmaconseil/kzm_accounting
	url = git@github.com:karizmaconseil/kzm_accounting.git
	branch = 13.0
